:root {
    --moderate-blur: 1px;
    --severe-blur: 15px;

    --top-bar-height: 3rem;
    --top-bar-open-height: 16rem;

    --color-grey-light: #e8ecec;
    --color-grey: #d3d3d3;
    --color-grey-dark: #ccd5d7;
    --color-blue-lighter: #61b7ff;
    --color-blue: #375055;
    --color-blue-dark: #1b363b;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

button,
input,
optgroup,
select {
    /* Use parent font-size (instead of browser default 11px) */
    font-size: inherit;
    /* Remove the margin in Firefox and Safari */
    margin: 0;
}

/* firefox button height issue */
/* https://davidwalsh.name/firefox-buttons */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a:focus,
button:focus,
input:focus,
select:focus {
    outline: 2px solid var(--color-blue-lighter);
}

/* a11y */
.a11y-sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* header */
.app-header {
    height: var(--top-bar-height);
    background-color: var(--color-grey);
    border-bottom: 1px solid var(--color-grey-dark);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 3;
    overflow: hidden;
}

.is-open.app-header {
    height: var(--top-bar-open-height);
}

.app-header > * {
    display: block;
    margin-bottom: .25rem;
    margin-left: 1rem;
}

@media screen and (min-width: 1055px) {
    .app-header > * {
        float: left;
    }
}

/* buttons */
.button {
    display: inline-block;
    height: 2.5rem;
    padding: 0 1em;
    background-color: var(--color-grey-light);
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: var(--color-blue-dark);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.button:hover {
    transition: all 0.2s ease-in;
    background-color: var(--color-grey-dark);
    cursor: pointer;
}

/* checkbox */
input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"] ~ .label-text {
    cursor: pointer;
}

input[type="checkbox"] ~ .label-text:before {
    content: '';
    display: inline-block;
    height: 1.125rem;
    width: 1.125rem;
    border: 2px solid var(--color-blue);
    border-radius: 2px;
    margin-right: 0.5rem;
    vertical-align: -0.25em;
    transition: border-color 250ms ease;
}

input[type="checkbox"]:hover ~ .label-text:before {
    border: 2px solid var(--color-blue-lighter);
}

input[type="checkbox"]:checked ~ .label-text:before {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%231A4E57%22%20d%3D%22M5.86%2012.36L1.3%207.16%203%205.13l2.56%202.92%205.3-6.64%201.87%202-6.87%208.94z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
}

/* select */
.module-selector-select {
    height: 2.5rem; /* line-height has no effect on replaced elements */
    appearance: none;
    background-color: var(--color-grey-light);
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding-right: 2.5rem; /* make space for caret icon */
    padding-left: 1rem;
}

.module-selector-select:hover {
    transition: all 0.2s ease-in;
    background-color: var(--color-grey-dark);
    cursor: pointer;
}

.module-selector-label {
    display: inline-block;
    height: 2.5rem;
    position: relative; /* for absolute position of caret */
    background-color: #ccd5d7;
    cursor: pointer;
}

.module-selector-label .icon-expand-more {
    pointer-events: none;
    position: absolute;
    height: 2.25rem;
    width: 2.5rem;
    top: 0.125rem;
    right: 0;
    text-align: center;
    line-height: 2.375rem;
}

/* iframe */
iframe {
    position: fixed;
    top: var(--top-bar-height);
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}

.is-open ~ iframe {
    top: var(--top-bar-open-height);
}

/* a11y toggler */
.app-header .a11y-toggler {
    float: none;
    text-align: right;
    height: var(--top-bar-height);
}

.a11y-toggler svg {
    vertical-align: -.25rem;
}

.a11y-toggler .button {
    padding: 0 .25rem;
    margin: .25rem .25rem 0;
}

.is-open .button.open-menu {
    display: none
}

.button.close-menu {
    display: none;
}

.is-open .button.close-menu {
    display: inline-block;
}

@media screen and (min-width: 1055px) {
    .app-header .a11y-toggler {
        display: none;
    }
}

/* navigator */
@media screen and (min-width: 1055px) {
    .app-header .url-navigator {
        float: right;
        margin-right: 1rem;
    }
}

.url-navigator input {
    padding: 0 .5rem;
    height: 2.5rem;
}

/* click stealer */
.click-stealer {
    display: none;
}

.click-stealer.is-enabled {
    display: block;
    z-index: 100;
    position: fixed;
    top: var(--top-bar-height);
    right: 0;
    bottom: 0;
    left: 0;
}

.is-open .click-stealer.is-enabled {
    top: var(--top-bar-open-height);
}

/* filters */

/* moderate visual impairment combinations */
.moderate-visual-impairment {
    filter: blur(var(--moderate-blur));
}

.moderate-visual-impairment.protanopia {
    filter: url('svg-filters.svg#protanopia')  blur(var(--moderate-blur));
}

.moderate-visual-impairment.protanomaly {
    filter: url('svg-filters.svg#protanomaly') blur(var(--moderate-blur));
}

.moderate-visual-impairment.deuteranopia {
    filter: url('svg-filters.svg#deuteranopia') blur(var(--moderate-blur));
}

.moderate-visual-impairment.deuteranomaly {
    filter: url('svg-filters.svg#deuteranomaly') blur(var(--moderate-blur));
}

.moderate-visual-impairment.tritanopia {
    filter: url('svg-filters.svg#tritanopia') blur(var(--moderate-blur));
}

.moderate-visual-impairment.tritanomaly {
    filter: url('svg-filters.svg#tritanomaly') blur(var(--moderate-blur));
}

.moderate-visual-impairment.achromatopsia {
    filter: url('svg-filters.svg#achromatopsia') blur(var(--moderate-blur));
}

.moderate-visual-impairment.achromatomaly {
    filter: url('svg-filters.svg#achromatomaly') blur(var(--moderate-blur));
}

/* severe visual impairment combinations */

.severe-visual-impairment {
   filter: blur(var(--severe-blur));
}

.severe-visual-impairment.protanomaly {
    filter: url('svg-filters.svg#protanomaly') blur(var(--severe-blur));
}

.severe-visual-impairment.deuteranopia {
    filter: url('svg-filters.svg#deuteranopia') blur(var(--severe-blur));
}

.severe-visual-impairment.deuteranomaly {
    filter: url('svg-filters.svg#deuteranomaly') blur(var(--severe-blur));
}

.severe-visual-impairment.tritanopia {
    filter: url('svg-filters.svg#tritanopia') blur(var(--severe-blur));
}

.severe-visual-impairment.tritanomaly {
    filter: url('svg-filters.svg#tritanomaly') blur(var(--severe-blur));
}

.severe-visual-impairment.achromatopsia {
    filter: url('svg-filters.svg#achromatopsia') blur(var(--severe-blur));
}

.severe-visual-impairment.achromatomaly {
    filter: url('svg-filters.svg#achromatomaly') blur(var(--severe-blur));
}

/* blindness combinations */
.blindness {
    filter: brightness(0);
}

.blindness.protanopia {
    filter: url('svg-filters.svg#protanopia') brightness(0);
}

.blindness.protanomaly {
    filter: url('svg-filters.svg#protanomaly') brightness(0);
}

.blindness.deuteranopia {
    filter: url('svg-filters.svg#deuteranopia') brightness(0);
}

.blindness.deuteranomaly {
    filter: url('svg-filters.svg#deuteranomaly') brightness(0);
}

.blindness.tritanopia {
    filter: url('svg-filters.svg#tritanopia') brightness(0);
}

.blindness.tritanomaly {
    filter: url('svg-filters.svg#tritanomaly') brightness(0);
}

.blindness.achromatopsia {
    filter: url('svg-filters.svg#achromatopsia') brightness(0);
}

.blindness.achromatomaly {
    filter: url('svg-filters.svg#achromatomaly') brightness(0);
}

/* color blindness variations */
.protanopia {
    filter: url('svg-filters.svg#protanopia');
}

.protanomaly {
    filter: url('svg-filters.svg#protanomaly');
}

.deuteranopia {
    filter: url('svg-filters.svg#deuteranopia');
}

.deuteranomaly {
    filter: url('svg-filters.svg#deuteranomaly');
}

.tritanopia {
    filter: url('svg-filters.svg#tritanopia');
}

.tritanomaly {
    filter: url('svg-filters.svg#tritanomaly');
}

.achromatopsia {
    filter: url('svg-filters.svg#achromatopsia');
}

.achromatomaly {
    filter: url('svg-filters.svg#achromatomaly');
}

.icon-expand-more:before {
    content: '';
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: -.5rem;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M18.035%207.37c.406%200%20.754.146%201.043.435l.598.598-7.688%207.688-7.664-7.675.598-.61c.28-.296.625-.444%201.03-.444s.755.146%201.044.435L12%2012.787l4.992-4.98c.29-.29.637-.436%201.043-.436z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
}